<div class="fullpage">

    <div class="aboutpage">

        <h1 class="fall-in-item">Gogol<span style="color: #cd1719;">’</span> game</h1>
        <h2 class="fall-in-item">progetto multimediale da <span style="font-style: italic;">Il Naso</span> di Nikolaj Gogol’</h2>
        <p class="fall-in-item">a cura di <span class="credit">Giulia Solano</span></p>
        <p class="fall-in-item">
            lettori
            <ng-container *ngFor="let reader of readers; let last=last">
                <span class="credit">{{reader}}</span>{{last ? '' : ', '}}
            </ng-container>
        </p>
        <p class="fall-in-item">con un ringraziamento particolare al <span class="credit"><a href="https://www.facebook.com/santandreateatro" target="_blank">Teatro Sant'Andrea di Pisa</a></span></p>
        <p class="fall-in-item">
            Il progetto, che ha preso avvio nel marzo 2020, nasce dal sovrapporsi di due eventi eccezionali: l'anno "rodariano",
            cioè l'anno in cui si festeggiano i 100 anni dalla nascita di Gianni Rodari, e l'emergenza Coronavirus,
            che ha modificato così radicalmente le possibilità d'incontro e la socialità di tutti noi.
            L'idea di lavorare insieme "a distanza" intorno a questo progetto ha rappresentato una sorta di "chiamata alle arti"
            in un momento di estrema difficoltà per tutti gli italiani, nel tentativo di offrire uno spazio d'ascolto capace di
            rendere più piacevole il tempo a casa per tutta la famiglia, bambini e genitori, riunendoli attorno alle favole di Rodari.
        </p>
        <p class="fall-in-item">
            L'obiettivo è stato, infatti, quello di realizzare - con il prezioso supporto tecnico di
            <span class="credit"><a target="_blank" href="https://www.hyperborea.com">Hyperborea</a></span> - un'audiolettura illustrata
            di una selezione delle <span class="credit">Favole al telefono</span> di Gianni Rodari, pubblicate per la prima volta nel 1962 da Einaudi
            ed ancora oggi disponibili nel catalogo di Einaudi Ragazzi, con fine esclusivamente didattico e divulgativo, che fosse la testimonianza di un lavoro realizzato in questo momento di crisi
            e di forzate "comunicazioni a distanza", sia come prodotto multimediale, in omaggio alla bellezza e alla forza delle parole e delle immagini di Rodari.
        </p>
        <p class="fall-in-item">
            Ogni favola è letta al telefono, proprio come fosse la telefonata che la <a href="#/browse-all">cornice introduttiva</a> delle favole di Rodari evocava; nella lettura si avvicendano diversi lettori, ognuno proveniente da una parte d'Italia diversa - in alcuni casi riconducibile alla favola stessa - e ognuno di essi fa una brevissima presentazione di sé agli ascoltatori. Le citazioni musicali che introducono le letture provengono dal repertorio della musica leggera italiana degli anni '50 e '60, e sono state abbinate alle favole per suggestioni e analogie.
        </p>
        <p class="fall-in-item">
            I lettori impegnati nel progetto sono un gruppo di persone appassionate di teatro accomunate dall'aver frequentato, in diversi anni, i corsi attoriali coordinati da <span class="credit"><a href="https://www.facebook.com/corso.vivavoce">Giulia Solano</a></span> presso il <span class="credit"><a href="https://www.facebook.com/santandreateatro" target="_blank">Teatro Sant'Andrea di Pisa</a></span>, e dall'amore per la letteratura, la creatività e la convivialità.
        </p>
        <p class="fall-in-item">
            <a target="_blank" href="http://hangarsrls.it">Hangar</a>, che ha curato le illustrazioni e la grafica, è un nuovo laboratorio creativo a Pisa, vi invitiamo a visitare il loro sito e ci auguriamo che questo progetto possa essere un trampolino di lancio.
        </p>
        <p class="fall-in-item">
            Il progetto 'Rodari al telefono' è stato ospite del <a target="_blank" href="https://www.casteldeimondi.com">Festival Internazionale Castel dei Mondi di Andria</a>, edizione 2020, all'interno della sezione dedicata ai progetti multimediali. Per l'occasione Pietro Capurso ha letto la favola 'Le scimmie in viaggio' e lo ringraziamo molto per la partecipazione.
        </p>
        <p class="fall-in-item">
            Buon divertimento!
        </p>
        <p class="fall-in-item">&nbsp;</p>
        <p class="fall-in-item trailing">
            <a aria-label="scrivici" href="mailto:{{mailto}}">{{mailto}}</a><br/>
            <a aria-label="il sito" href="https://www.rodarialtelefono.it">www.rodarialtelefono.it</a><br/>
            <a aria-label="Festival Internazionale Castel dei Mondi" href="https://www.casteldeimondi.com">Festival Internazionale Castel dei Mondi</a><br/>
            <a style="font-size: 0.8em" aria-label="privacy policy" href="#/privacy-policy">privacy policy</a>
        </p>
        <p *ngIf="false" class="fall-in-item social-share-buttons"><a class="facebook-button" href="https://www.facebook.com/sharer.php?u=http://rodarialtelefono.it">Facebook</a></p>

    </div>
    <div class="footer">&nbsp;</div>
</div>

<div class="panel-menu-list top-left-menu">
    <div class="panel-menu-item" (click)="clickGoBack()">
        <svg viewBox="0 0 100 100">
            <g app-go-back></g>
        </svg>
    </div>
    <div class="panel-menu-item">
        <app-fullscreen-toggle></app-fullscreen-toggle>
    </div>
</div>