.aboutpage {
    font-family: 'Goudy Old Style';
    font-size: large;
    background-color: white;
}

.footer {
    margin-top: 500px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    font-style: italic;
    margin-right: 10px;
}

.headers {
    text-align: right;
    margin-bottom: 50px;
}

.maskgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    .maskitem {
        width: 14%;
        min-height: auto;
        background-color: gray;
    }
}