<svg class="fullsvg finale" viewBox="0 0 100 100">
    <g *ngFor="let reader of readers" [attr.transform]="readerTransform(reader)" (click)="clickReader(reader)">
        <g app-reader-card [reader]="reader"></g>
    </g>
</svg>

<app-watch-video *ngIf="video" [video]="video" (click)="clickCloseVideo()"></app-watch-video>

<div class="panel-menu-list top-left-menu">
    <div class="panel-menu-item" (click)="clickGoBack()">
        <svg viewBox="0 0 100 100">
            <g app-go-back></g>
        </svg>
    </div>
    <div class="panel-menu-item">
        <app-fullscreen-toggle></app-fullscreen-toggle>
    </div>
</div>