.finale {
    background-color: white;
}

.maskgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .maskitem {
        height: 200px;
        width: 200px;
        background-color: gray;
    }
}