<svg class="fullsvg" viewBox="0 0 100 100" (click)="clickAnywhere()" style="background-color:white;">

    <g id="fiori-rossi">
      <image
         style="display:inline"
         y="43.634945"
         x="-125.50914"
         id="image125"
         xlink:href="./assets/fiori-rossi.png"
         preserveAspectRatio="none"
         height="37.156509"
         width="151.26355" />
      <image
         width="151.26355"
         height="37.156509"
         preserveAspectRatio="none"
         xlink:href="./assets/fiori-rossi.png"
         id="image143"
         x="-225.50914"
         y="43.634945"
         style="display:inline"
         transform="scale(-1,1)" />
    </g>


    <g *ngIf="shown">
        <text id="gogolgame" y="19.440334" x="50.089806"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:semi-expanded;font-size:17.33333397px;line-height:1.25;font-family:'Goudy Old Style';-inkscape-font-specification:'Goudy Old Style, Semi-Expanded';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#000000;fill-opacity:1;stroke:none"
            xml:space="preserve">
            <tspan y="19.440334" x="50.089806" id="tspan845">Gogol<tspan style="fill: #cd1719;">’</tspan> game</tspan>
        </text>
        <text xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:semi-expanded;font-size:8.61586571px;line-height:1.25;font-family:'Goudy Old Style';-inkscape-font-specification:'Goudy Old Style, Semi-Expanded';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.49706915"
            x="50.070648" y="91.720268" id="subtitle">
            <tspan style="stroke-width:0.49706915" id="tspan967" x="50.070648" y="91.720268">dal racconto<tspan
                    id="tspan892"
                    style="fill: #cd1719;font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61586666px;font-family:'Goudy Old Style';-inkscape-font-specification:'Goudy Old Style, Italic';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle">
                    Il Naso</tspan> di Nikolaj Gogol<tspan style="fill: #cd1719;">’</tspan>
            </tspan>
        </text>

        <g *ngIf="step === 'spinning'" style="transform: translate(50px,54px) scale(0.8);">
            <g app-fx-fadeinout>
                <g app-fx-spinning>
                    <image xlink:href="./assets/panino-above.png" y="-33.389297" x="-35" id="panino-above"
                        preserveAspectRatio="none" height="68.162498" width="70" />
                </g>
            </g>
        </g>
        <g *ngIf="step === 'splitting'">
            <g id="panino-sotto" [@bread]="breadDown">
                <image xlink:href="./assets/panino-lower.png" width="70" height="18.9" preserveAspectRatio="none"
                    id="image1078" x="15" y="55.299999" style="display:inline" />
            </g>
            <g id="panino-naso" [@naso]="breadUp">
                <image width="43.809399" height="60.932877" preserveAspectRatio="none" xlink:href="./assets/naso.png"
                    x="-22.227919" y="-38.775108" style="display:inline" />
            </g>
            <g id="panino-sopra" [@bread]="breadUp">
                <image xlink:href="./assets/panino-upper.png" width="70" height="24.412498" preserveAspectRatio="none"
                    id="image1089" x="15.009515" y="37.821926" style="display:inline" />
            </g>
        </g>
    </g>

</svg>
<div>
    <app-listen-track *ngIf="track" (ended)="trackEnded($event)" [track]="track">
    </app-listen-track>
</div>
<div class="panel-menu-list top-left-menu" style="color: gray;">
    <div class="panel-menu-item" (click)="clickSkip()">
        <svg viewBox="0 0 100 100">
            <g app-skip-forward></g>
        </svg>
    </div>
    <div class="panel-menu-item">
        <app-fullscreen-toggle></app-fullscreen-toggle>
    </div>
</div>