<svg class="fullsvg" viewBox="0 0 100 100" (click)="clickAnywhere()" style="background-color:black;">

    <g *ngIf="shown">
        <text id="gogolgame" y="19.440334" x="50.089806"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:semi-expanded;font-size:17.33333397px;line-height:1.25;font-family:'Goudy Old Style';-inkscape-font-specification:'Goudy Old Style, Semi-Expanded';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#e6e6e6;fill-opacity:1;stroke:none"
            xml:space="preserve">
            <tspan y="19.440334" x="50.089806" id="tspan845">Gogol' game</tspan>
        </text>
        <text xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:semi-expanded;font-size:8.61586571px;line-height:1.25;font-family:'Goudy Old Style';-inkscape-font-specification:'Goudy Old Style, Semi-Expanded';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#e6e6e6;fill-opacity:1;stroke:none;stroke-width:0.49706915"
            x="50.070648" y="91.720268" id="subtitle">
            <tspan style="stroke-width:0.49706915" id="tspan967" x="50.070648" y="91.720268">dal racconto &quot;Il
                Naso&quot; di N. Gogol'</tspan>
        </text>

        <g *ngIf="step === 'spinning'" style="transform: translate(50px,50px) scale(0.8);">
            <g app-fx-fadeinout>
                <g app-fx-spinning>
                    <image xlink:href="./assets/panino-above.png" y="-33.389297" x="-35" id="panino-above"
                        preserveAspectRatio="none" height="68.162498" width="70" />
                </g>
            </g>
        </g>
        <g *ngIf="step === 'splitting'">
            <g id="panino-sotto" [@bread]="breadDown">
                <image xlink:href="./assets/panino-lower.png" width="70" height="18.9" preserveAspectRatio="none"
                    id="image1078" x="15" y="55.299999" style="display:inline" />
            </g>
            <g id="panino-naso" [@naso]="breadUp">
                <image xlink:href="./assets/naso.png" width="19.684422" height="28.389927" preserveAspectRatio="none"
                    id="image1056" x="39" y="39" style="display:inline" />
            </g>
            <g id="panino-sopra" [@bread]="breadUp">
                <image xlink:href="./assets/panino-upper.png" width="70" height="24.412498" preserveAspectRatio="none"
                    id="image1089" x="15.009515" y="37.821926" style="display:inline" />
            </g>
        </g>
    </g>

</svg>
<div>
    <app-listen-track *ngIf="track" (ended)="trackEnded($event)" [track]="track">
    </app-listen-track>
</div>
<div class="panel-menu-list top-right-menu" style="color: gray;">
    <div class="panel-menu-item" (click)="clickSkip()">
        <svg viewBox="0 0 100 100">
            <g app-skip-forward></g>
        </svg>
    </div>
</div>