<div class="audio-slider" (click)="logMe($event)">
    <ngx-audio-player #audioplayer [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="true"
        [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
        [displayArtist]="msaapDisplayArtist" [displayDuration]="msaapDisplayDuration" [expanded]="true"
        (trackEnded)="onEnded($event)" [displayVolumeControls]="msaapDisplayVolumeControls"
        [displayRepeatControls]="msaapDisplayRepeatControls" [disablePositionSlider]="msaapDisablePositionSlider">
    </ngx-audio-player>
</div>
<div class="panel-menu-list top-right-menu" style="color: white;" *ngIf="false">
    <div class="panel-menu-item" (click)="audioplayer.toggleRepeat()">
        {{audioplayer.currentTime}} {{audioplayer.repeat}}
    </div>
</div>
