/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Garamond';
    src: url('./assets/Garamond-Regular.ttf') format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Goudy Old Style';
    src: url('./assets/Goudy-Old-Style-Regular.ttf') format("truetype");
    font-weight:300;
}

.background {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* The image used */
    background-image: url("./assets/tiled.jpg");
    background-repeat: repeat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
