<svg class="fullsvg" viewBox="0 0 100 100">

    <defs>
        <g id="pin-A">
            <circle cx="50" cy="50" r="50" style="fill:#d40000;"></circle>
        </g>
        <g id="pin-B">
            <circle cx="50" cy="50" r="50" style="fill:#71d400;"></circle>
        </g>
        <g id="pin-C">
            <circle cx="50" cy="50" r="50" style="fill:#fff290;"></circle>
        </g>
    </defs>

    <g style="display:inline" id="layer1">
        <image transform="rotate(15)" width="139.72601" height="100" preserveAspectRatio="none"
            xlink:href="assets/pietroburgo.jpg" id="image110"
            x="-8.6257629" y="-14.644661" />
    </g>
    <g style="display:inline" id="layer2">
        <use *ngFor="let location of locations" [attr.href]="'#pin-'+location.name" [@location]="locationState(location)" (@location.done)="animationLocationDone($event, location)" (click)="clickLocation(location)"></use>
    </g>

</svg>
<app-listen-track *ngIf="track" [track]="track"></app-listen-track>
